In [9]:
import pandas as pd
import numpy as np
import sys 
import os

In [10]:
DATA_FOLDER = '../data/raw'

## Indices

In [3]:
peace_index = pd.read_excel(
    io=os.path.join(DATA_FOLDER, 'GPI-2023-overall-scores-and-domains-2008-2023.xlsx'), 
    skiprows=3, 
    sheet_name='Overall Scores',
    usecols='A:R'
    )

terrorism_index = pd.read_excel(
    io=os.path.join(DATA_FOLDER, 'GTI-2023-Overall-scores-2011-2022.xlsx'),
    skiprows=6, 
    sheet_name='Overall Scores',
    usecols='A:X'
)

ecology_index = pd.read_excel(
    io=os.path.join(DATA_FOLDER, 'ETR_Public_Release_Data_2023.xlsx'),
    skiprows=4, 
    sheet_name='Overall Scores',
)

In [4]:
peace_index

,Country,iso3c,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,AFG,3.104,3.235,3.162,3.126,3.184,3.240,3.167,3.254,3.338,3.386,3.512,3.538,3.581,3.588,3.545,3.448
1,Angola,AGO,1.991,2.009,1.943,2.048,1.997,2.034,2.065,1.922,1.960,1.936,1.988,1.952,1.918,2.016,1.970,2.020
2,Albania,ALB,1.791,1.779,1.781,1.794,1.823,1.819,1.824,1.824,1.779,1.786,1.723,1.733,1.774,1.781,1.764,1.745
3,United Arab Emirates,ARE,1.651,1.627,1.647,1.642,1.700,1.665,1.735,1.793,1.826,1.929,1.892,1.886,2.022,1.980,1.979,1.979
4,Argentina,ARG,1.820,1.886,1.899,1.879,1.867,1.972,1.882,1.929,1.954,1.934,1.911,1.984,1.948,1.926,1.904,1.837
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Vietnam,VNM,1.795,1.825,1.847,1.849,1.926,1.872,1.835,1.899,1.871,1.886,1.906,1.902,1.960,1.828,1.789,1.745
159,Yemen,YEM,2.357,2.438,2.527,2.561,2.592,2.539,2.575,2.765,3.049,3.184,3.195,3.340,3.340,3.351,3.404,3.350
160,South Africa,ZAF,2.179,2.391,2.380,2.352,2.348,2.327,2.356,2.416,2.327,2.319,2.320,2.442,2.358,2.358,2.305,2.405
161,Zambia,ZMB,1.909,1.851,1.859,1.762,1.814,1.715,1.800,1.818,1.794,1.779,1.795,1.773,1.819,1.940,1.871,1.898
162,Zimbabwe,ZWE,2.338,2.588,2.522,2.390,2.344,2.328,2.225,2.158,2.139,2.164,2.200,2.310,2.322,2.306,2.326,2.300

In [5]:
terrorism_index

,Country,Iso3c,2012 Rank,2012 Score,2013 Rank,2013 Score,2014 Rank,2014 Score,2015 Rank,2015 Score,...,2018 Rank,2018 Score,2019 Rank,2019 Score,2020 Rank,2020 Score,2021 Rank,2021 Score,2022 Rank,2022 Score
0,Afghanistan,AFG,3,9.134265,3,8.935458,4,8.899861,3,8.864294,...,2,9.066529,1,9.039006,1,9.056336,1,9.130089,1,8.822244
1,Albania,ALB,97,0.826319,99,0.508313,105,0.226891,106,0.000000,...,110,0.000000,112,0.000000,105,0.000000,96,0.000000,93,0.000000
2,Algeria,DZA,14,6.695682,16,6.476254,20,6.129568,26,5.794741,...,36,5.113016,39,4.751069,43,4.326213,40,4.426002,37,4.082835
3,Angola,AGO,72,2.364660,82,1.657740,74,2.016820,90,1.241050,...,90,1.319722,96,0.826319,91,0.508313,89,0.290979,90,0.157670
4,Argentina,ARG,63,2.810899,66,2.581995,75,1.991258,94,1.154499,...,60,3.393403,63,3.002530,67,2.429550,57,2.773219,57,2.875466
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Venezuela,VEN,69,2.408456,63,2.649197,80,1.798285,72,2.460256,...,34,5.128323,42,4.531190,47,3.989407,46,3.999641,51,3.408650
159,Vietnam,VNM,112,0.000000,110,0.000000,110,0.000000,106,0.000000,...,87,1.520182,93,1.058312,89,0.681852,88,0.406456,89,0.226891
160,Yemen,YEM,5,8.098513,6,7.983732,6,7.979558,5,8.040715,...,13,7.185719,17,6.847371,20,6.158684,21,5.886207,22,5.616402
161,Zambia,ZMB,112,0.000000,110,0.000000,110,0.000000,106,0.000000,...,110,0.000000,112,0.000000,105,0.000000,96,0.000000,93,0.000000
162,Zimbabwe,ZWE,112,0.000000,110,0.000000,110,0.000000,106,0.000000,...,110,0.000000,112,0.000000,105,0.000000,96,0.000000,93,0.000000

In [6]:
ecology_index

          Country  ETR Rank  ETR Score
0     Afghanistan         1        5.0
1          Angola         1        5.0
2         Burundi         1        5.0
3           Benin         1        5.0
4    Burkina Faso         1        5.0
..            ...       ...        ...
216     Singapore       202        1.0
217    San Marino       202        1.0
218      Slovenia       202        1.0
219        Sweden       202        1.0
220        Kosovo       202        1.0

[221 rows x 3 columns]

## Combined

In [17]:
outlook = peace_index.merge(terrorism_index, left_on = ['Country','iso3c'], right_on = ['Country','Iso3c'], how = 'outer', suffixes= ("_peace","_terrorism"))
final = outlook.merge(ecology_index, on = 'Country', how = 'outer', suffixes=("","_ecology"))